.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    text-align: left; /* Align text content to the start */
  }
  
  .card img {
    max-width: 100%;
    height: auto;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
  }
  
  .card-title {
    margin-bottom: 10px;
  }
  
  .card-text {
    margin-bottom: 10px;
  }
    .container-background {
    background-color: #e0e0e0;
    padding: 20px;
  }
  
  